* {
    box-sizing: border-box;
}
body{
    font-family: Helvetica, sans-serif;
    margin: 0;
}
#background{
    background-image: url("img/light_background.jpg");
    background-repeat: no-repeat;
    background-position: center;
}
#header{
    position: relative;
    padding-top: 10%;
    padding-bottom: 20%;
    text-align: right;
}
#welcome{
    font-size: 80px;
    margin-right: 8%;
    padding-bottom: 0;
    margin-bottom: 0;
    color: #2c3e50;
    text-shadow: 5px 2px 5px rgba(0, 0, 0, 0.4);
}
.gbutton{
    border: none;
    outline: 0;
    background-color: transparent;
    float: right;
    padding-right: 10%;
    border-radius: 10%;
}
.aboutsite{
    width: 100%;
    padding-top: .4%;
    padding-left: 2%;
    padding-right: 25%;
    font-size: 20px;
    background-color: rgba(255, 255, 255, 0.9);
    color: #2c3e50;
}
#general{
    margin: 0;
    padding-bottom: 2%;
}
.container{
    display: flex;
    background-color: #34495e;
    padding-top: 1%;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
    align-content: flex-end;
 }
.column {
    float: left;
    padding-right: 10px;
    padding-bottom: 20px;
}
.card{
    width: 167px;
    text-align: left;
    background-color: white;
    justify-content: space-between;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);

}
.card:hover{ 
    transition: all .5s ease-in-out;
    transform: scale(1.1); 
    box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.4);
}
#title{
    white-space: nowrap;
    text-align: center;
    overflow: hidden;
    text-overflow:    ellipsis;
    font-size: 18px;
    margin: 5%;
}
#day{
    text-align: center;
    font-size: 14px;
    margin: 5%;

}
.addbutton{
    border: none;
    outline: 0;
    padding: 12px;
    color: white;
    background-color: #000;
    text-align: center;
    width: 100%;
    font-size: 18px;
}
.addbutton:hover {
    transition: .2s ease-in-out;
    opacity: 0.7;
}




