* {
    box-sizing: border-box;
}
body{
    background-color: rgba(52, 62, 97, 0.993);
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}
#header{
    position: relative;
    padding-top: 10%;
    padding-bottom: 20%;
    margin-bottom: 6px;
    text-align: right;
    background-image: url("img/background.jpg");
    background-repeat: no-repeat;
    background-size: auto;
}
#welcome{
    font-size: 80px;
    margin-right: 5%;
    color: rgb(18, 20, 20);
}
.container{
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
    align-content: flex-end;
 }
.column {
    float: left;
    padding-right: 10px;
    padding-bottom: 20px;
}
.card{
    width: 167px;
    text-align: left;
    background-color: white;
    justify-content: space-between;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);

}
.card{transition: all .2s ease-in-out}
.card:hover{ transform: scale(1.1); box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.4);}
#title{
    margin-left: 12px;
    margin-top: 0;
    font-size: 16px;
    height: 50px;
}
#gbutton{
    border: none;
    outline: 0;
    padding: 12px;
    color: white;
    background-color: #000;
    text-align: center;
    width: 100%;
    font-size: 18px;
}
#gbutton:hover {
    transition: .2s ease-in-out;
    opacity: 0.7;
}




